In [2]:
import pandas as pd
df = pd.read_csv('firstnormaldata20191026_DecisionTree.csv')
df.head()

,TIME,DAY,STORES,CONGESTION,OSM_ID,LARGER_THAN_200M,KMH,CATEGORY
0,17:15,MONDAY,OPEN,0,176665188,YES,50,KA_1K
1,22:00,MONDAY,CLOSED,0,176665188,YES,50,KA_1K
2,18:30,TUESDAY,OPEN,0,176665188,YES,50,KA_1K
3,14:30,WEDNESDAY,OPEN,0,176665188,YES,50,KA_1K
4,20:45,WEDNESDAY,CLOSED,0,176665188,YES,50,KA_1K

In [3]:
inputs = df.drop('CONGESTION',axis='columns')

In [4]:
target = df['CONGESTION']

In [5]:
from sklearn.preprocessing import LabelEncoder
le_TIME = LabelEncoder()
le_DAY = LabelEncoder()
le_STORES = LabelEncoder()
le_OSM_ID = LabelEncoder()
le_LARGER_THAN_200M = LabelEncoder()
le_KMH = LabelEncoder()
le_CATEGORY = LabelEncoder()

In [6]:
inputs['TIME_n'] = le_TIME.fit_transform(inputs['TIME'])
inputs['DAY_n'] = le_DAY.fit_transform(inputs['DAY'])
inputs['STORES_n'] = le_STORES.fit_transform(inputs['STORES'])
inputs['OSM_ID_n'] = le_OSM_ID.fit_transform(inputs['OSM_ID'])
inputs['LARGER_THAN_200M_n'] = le_LARGER_THAN_200M.fit_transform(inputs['LARGER_THAN_200M'])
inputs['KMH_n'] = le_KMH.fit_transform(inputs['KMH'])
inputs['CATEGORY_n'] = le_CATEGORY.fit_transform(inputs['CATEGORY'])

In [7]:
inputs

,TIME,DAY,STORES,OSM_ID,LARGER_THAN_200M,KMH,CATEGORY,TIME_n,DAY_n,STORES_n,OSM_ID_n,LARGER_THAN_200M_n,KMH_n,CATEGORY_n
0,17:15,MONDAY,OPEN,176665188,YES,50,KA_1K,69,1,2,2,1,0,0
1,22:00,MONDAY,CLOSED,176665188,YES,50,KA_1K,88,1,0,2,1,0,0
2,18:30,TUESDAY,OPEN,176665188,YES,50,KA_1K,74,5,2,2,1,0,0
3,14:30,WEDNESDAY,OPEN,176665188,YES,50,KA_1K,58,6,2,2,1,0,0
4,20:45,WEDNESDAY,CLOSED,176665188,YES,50,KA_1K,83,6,0,2,1,0,0
5,18:00,WEDNESDAY,CLOSING,176665188,YES,50,KA_1K,72,6,1,2,1,0,0
6,17:00,WEDNESDAY,OPEN,176665188,YES,50,KA_1K,68,6,2,2,1,0,0
7,12:00,FRIDAY,OPEN,176665188,YES,50,KA_1K,48,0,2,2,1,0,0
8,21:15,THURSDAY,CLOSING,176665188,YES,50,KA_1K,85,4,1,2,1,0,0
9,22:15,SUNDAY,CLOSED,176665188,YES,50,KA_1K,89,3,0,2,1,0,0
10,01:00,MONDAY,CLOSED,176665188,YES,50,KA_1K,4,1,0,2,1,0,0
11,01:30,MONDAY,CLOSED,176665188,YES,50,KA_1K,6,1,0,2,1,0,0
12,15:15,MONDAY,OPEN,176665188,YES,50,KA_1K,61,1,2,2,1,0,0
13,00:45,WEDNESDAY,CLOSED,176665188,YES,50,KA_1K,3,6,0,2,1,0,0
14,01:30,WEDNESDAY,CLOSED,176665188,YES,50,KA_1K,6,6,0,2,1,0,0
15,12:00,WEDNESDAY,OPEN,176665188,YES,50,KA_1K,48,6,2,2,1,0,0
16,19:45,WEDNESDAY,CLOSED,176665188,YES,50,KA_1K,79,6,0,2,1,0,0
17,21:45,WEDNESDAY,CLOSED,176665188,YES,50,KA_1K,87,6,0,2,1,0,0
18,23:15,WEDNESDAY,CLOSED,176665188,YES,50,KA_1K,93,6,0,2,1,0,0
19,23:45,WEDNESDAY,CLOSED,176665188,YES,50,KA_1K,95,6,0,2,1,0,0
20,02:30,THURSDAY,CLOSED,176665188,YES,50,KA_1K,10,4,0,2,1,0,0
21,04:00,THURSDAY,CLOSED,176665188,YES,50,KA_1K,16,4,0,2,1,0,0
22,04:30,THURSDAY,CLOSED,176665188,YES,50,KA_1K,18,4,0,2,1,0,0
23,04:45,THURSDAY,CLOSED,176665188,YES,50,KA_1K,19,4,0,2,1,0,0
24,06:00,THURSDAY,CLOSED,176665188,YES,50,KA_1K,24,4,0,2,1,0,0
25,06:30,THURSDAY,CLOSED,176665188,YES,50,KA_1K,26,4,0,2,1,0,0
26,14:45,THURSDAY,OPEN,176665188,YES,50,KA_1K,59,4,2,2,1,0,0
27,16:15,THURSDAY,OPEN,176665188,YES,50,KA_1K,65,4,2,2,1,0,0
28,18:45,THURSDAY,OPEN,176665188,YES,50,KA_1K,75,4,2,2,1,0,0
29,11:15,FRIDAY,OPEN,176665188,YES,50,KA_1K,45,0,2,2,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4325,23:45,WEDNESDAY,CLOSED,197107696,NO,70,KS_2K,95,6,0,3,0,1,1
4326,01:15,THURSDAY,CLOSED,197107696,NO,70,KS_2K,5,4,0,3,0,1,1
4327,01:30,THURSDAY,CLOSED,197107696,NO,70,KS_2K,6,4,0,3,0,1,1
4328,07:00,THURSDAY,CLOSED,197107696,NO,70,KS_2K,28,4,0,3,0,1,1
4329,07:15,THURSDAY,CLOSED,197107696,NO,70,KS_2K,29,4,0,3,0,1,1
4330,10:45,THURSDAY,OPEN,197107696,NO,70,KS_2K,43,4,2,3,0,1,1
4331,12:45,THURSDAY,OPEN,197107696,NO,70,KS_2K,51,4,2,3,0,1,1
4332,13:45,THURSDAY,OPEN,197107696,NO,70,KS_2K,55,4,2,3,0,1,1
4333,15:45,THURSDAY,OPEN,197107696,NO,70,KS_2K,63,4,2,3,0,1,1
4334,16:15,THURSDAY,OPEN,197107696,NO,70,KS_2K,65,4,2,3,0,1,1
4335,17:15,THURSDAY,OPEN,197107696,NO,70,KS_2K,69,4,2,3,0,1,1
4336,19:15,THURSDAY,OPEN,197107696,NO,70,KS_2K,77,4,2,3,0,1,1
4337,19:45,THURSDAY,OPEN,197107696,NO,70,KS_2K,79,4,2,3,0,1,1
4338,22:45,THURSDAY,CLOSED,197107696,NO,70,KS_2K,91,4,0,3,0,1,1
4339,07:15,FRIDAY,CLOSED,197107696,NO,70,KS_2K,29,0,0,3,0,1,1
4340,10:15,FRIDAY,OPEN,197107696,NO,70,KS_2K,41,0,2,3,0,1,1
4341,11:00,FRIDAY,OPEN,197107696,NO,70,KS_2K,44,0,2,3,0,1,1
4342,13:00,FRIDAY,OPEN,197107696,NO,70,KS_2K,52,0,2,3,0,1,1
4343,13:30,FRIDAY,OPEN,197107696,NO,70,KS_2K,54,0,2,3,0,1,1
4344,14:15,FRIDAY,OPEN,197107696,NO,70,KS_2K,57,0,2,3,0,1,1
4345,16:00,FRIDAY,OPEN,197107696,NO,70,KS_2K,64,0,2,3,0,1,1
4346,16:15,FRIDAY,OPEN,197107696,NO,70,KS_2K,65,0,2,3,0,1,1
4347,18:30,FRIDAY,OPEN,197107696,NO,70,KS_2K,74,0,2,3,0,1,1
4348,21:00,FRIDAY,CLOSING,197107696,NO,70,KS_2K,84,0,1,3,0,1,1
4349,21:45,FRIDAY,CLOSING,197107696,NO,70,KS_2K,87,0,1,3,0,1,1
4350,00:15,SATURDAY,CLOSED,197107696,NO,70,KS_2K,1,2,0,3,0,1,1
4351,05:00,SATURDAY,CLOSED,197107696,NO,70,KS_2K,20,2,0,3,0,1,1
4352,05:45,SATURDAY,CLOSED,197107696,NO,70,KS_2K,23,2,0,3,0,1,1
4353,07:45,SATURDAY,OPENING,197107696,NO,70,KS_2K,31,2,3,3,0,1,1
4354,09:45,SATURDAY,OPEN,197107696,NO,70,KS_2K,39,2,2,3,0,1,1

In [8]:
inputs_n = inputs.drop(['TIME','DAY','STORES','OSM_ID','LARGER_THAN_200M','KMH','CATEGORY'],axis='columns')

In [9]:
inputs_n

      TIME_n  DAY_n  STORES_n  OSM_ID_n  LARGER_THAN_200M_n  KMH_n  CATEGORY_n
0         69      1         2         2                   1      0           0
1         88      1         0         2                   1      0           0
2         74      5         2         2                   1      0           0
3         58      6         2         2                   1      0           0
4         83      6         0         2                   1      0           0
5         72      6         1         2                   1      0           0
6         68      6         2         2                   1      0           0
7         48      0         2         2                   1      0           0
8         85      4         1         2                   1      0           0
9         89      3         0         2                   1      0           0
10         4      1         0         2                   1      0           0
11         6      1         0         2                   1      0           0
12        61      1         2         2                   1      0           0
13         3      6         0         2                   1      0           0
14         6      6         0         2                   1      0           0
15        48      6         2         2                   1      0           0
16        79      6         0         2                   1      0           0
17        87      6         0         2                   1      0           0
18        93      6         0         2                   1      0           0
19        95      6         0         2                   1      0           0
20        10      4         0         2                   1      0           0
21        16      4         0         2                   1      0           0
22        18      4         0         2                   1      0           0
23        19      4         0         2                   1      0           0
24        24      4         0         2                   1      0           0
25        26      4         0         2                   1      0           0
26        59      4         2         2                   1      0           0
27        65      4         2         2                   1      0           0
28        75      4         2         2                   1      0           0
29        45      0         2         2                   1      0           0
...      ...    ...       ...       ...                 ...    ...         ...
4325      95      6         0         3                   0      1           1
4326       5      4         0         3                   0      1           1
4327       6      4         0         3                   0      1           1
4328      28      4         0         3                   0      1           1
4329      29      4         0         3                   0      1           1
4330      43      4         2         3                   0      1           1
4331      51      4         2         3                   0      1           1
4332      55      4         2         3                   0      1           1
4333      63      4         2         3                   0      1           1
4334      65      4         2         3                   0      1           1
4335      69      4         2         3                   0      1           1
4336      77      4         2         3                   0      1           1
4337      79      4         2         3                   0      1           1
4338      91      4         0         3                   0      1           1
4339      29      0         0         3                   0      1           1
4340      41      0         2         3                   0      1           1
4341      44      0         2         3                   0      1           1
4342      52      0         2         3                   0      1           1
4343      54      0         2         3                   0      1           1
4344      57      0         2         3                   0      1           1
4345      64      0         2         3                   0      1           1
4346      65      0         2         3                   0      1           1
4347      74      0         2         3                   0      1           1
4348      84      0         1         3                   0      1           1
4349      87      0         1         3                   0      1           1
4350       1      2         0         3                   0      1           1
4351      20      2         0         3                   0      1           1
4352      23      2         0         3                   0      1           1
4353      31      2         3         3                   0      1           1
4354      39      2         2         3                   0      1           1

[4355 rows x 7 columns]

In [10]:
target

0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       1
8       1
9       1
10      0
11      0
12      1
13      0
14      0
15      0
16      0
17      1
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
       ..
4325    0
4326    0
4327    0
4328    1
4329    0
4330    0
4331    0
4332    0
4333    0
4334    0
4335    0
4336    1
4337    0
4338    0
4339    0
4340    0
4341    0
4342    0
4343    1
4344    1
4345    1
4346    1
4347    1
4348    0
4349    1
4350    0
4351    0
4352    0
4353    0
4354    0
Name: CONGESTION, Length: 4355, dtype: int64

In [11]:
#feature_cols = ['TIME_n', 'DAY_n', 'STORES_n', 'OSM_ID_n','LARGER_THAN_200M_n','KMH_n','CATEGORY_n'] 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs_n, target, test_size=0.2, random_state=1)

In [12]:
X_test

      TIME_n  DAY_n  STORES_n  OSM_ID_n  LARGER_THAN_200M_n  KMH_n  CATEGORY_n
1749      60      3         0         2                   1      0           0
1959      18      4         0         1                   0      1           1
3862       7      1         0         2                   1      0           0
3001       6      0         0         1                   0      1           1
2336      45      0         2         2                   1      0           0
4019       6      6         0         1                   0      1           1
299       50      2         2         1                   0      1           1
2115      93      5         0         3                   0      1           1
1038      37      6         2         3                   0      1           1
3709      26      3         0         3                   0      1           1
779       14      6         0         1                   0      1           1
2869      87      5         1         2                   1      0           0
4292      66      2         2         3                   0      1           1
3075      70      0         2         1                   0      1           1
2159      59      1         2         2                   1      0           0
90        29      0         0         2                   1      0           0
3466      75      3         0         1                   0      1           1
1973      20      2         0         1                   0      1           1
3781       4      2         0         3                   0      1           1
3417      48      2         2         1                   0      1           1
3716      63      3         0         3                   0      1           1
1217       2      5         0         2                   1      0           0
813       26      2         0         1                   0      1           1
1845      56      0         2         1                   0      1           1
2197      48      0         2         2                   1      0           0
3327      41      0         2         2                   1      0           0
2350      34      2         3         2                   1      0           0
993       86      0         1         3                   0      1           1
364       36      2         2         1                   0      1           1
3586      43      2         2         1                   0      1           1
...      ...    ...       ...       ...                 ...    ...         ...
1986      55      1         2         3                   0      1           1
3626      64      0         2         3                   0      1           1
4117      67      3         0         1                   0      1           1
3491      93      6         0         1                   0      1           1
3309      62      5         2         2                   1      0           0
2784      61      5         2         2                   1      0           0
2494      38      4         2         1                   0      1           1
3144      54      6         2         3                   0      1           1
3756      83      6         0         3                   0      1           1
4129      22      6         0         1                   0      1           1
1189      65      0         2         2                   1      0           0
2084      51      2         2         3                   0      1           1
1061      19      0         0         3                   0      1           1
2738       3      0         0         2                   1      0           0
1653      66      4         2         2                   1      0           0
1854      90      2         0         1                   0      1           1
2537      84      6         0         3                   0      1           1
965       28      6         0         3                   0      1           1
2624      70      0         2         3                   0      1           1
3055      77      6         0         1                   0      1           1
1123      79      2         0         2                   1      0           0
1272      53      4         2         1                   0      1           1
3904      26      0         0         2                   1      0           0
3856      45      3         0         2                   1      0           0
3763      46      4         2         3                   0      1           1
3770      10      0         0         3                   0      1           1
3897      94      6         0         2                   1      0           0
367       53      0         2         3                   0      1           1
4025      24      4         0         1                   0      1           1
1801      94      0         0         2                   1      0           0

[871 rows x 7 columns]

In [17]:
from sklearn import tree
model = tree.DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')
model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [18]:
model.score(X_train,y_train)

0.8668197474167624

In [19]:
inputs.to_csv("num_and_labels20191026.csv")

In [20]:
model.predict([[16,6,0,0,0,1,1]])

array([0], dtype=int64)

In [21]:
model.predict([[82,6,0,0,0,1,1]])

array([1], dtype=int64)

In [22]:
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO  
from IPython.display import Image  
import pydotplus

In [23]:
y_pred = model.predict(X_test)

In [24]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7014925373134329

In [25]:
feature_cols = ['TIME_n', 'DAY_n', 'STORES_n', 'OSM_ID_n','LARGER_THAN_200M_n','KMH_n','CATEGORY_n']
dot_data = StringIO()

In [39]:
#export_graphviz(model, out_file=dot_data)
export_graphviz(model, out_file=dot_data,  filled=True, rounded=True,
#               special_characters=True,feature_names = feature_cols)
special_characters=True,feature_names = feature_cols,class_names=True)

In [41]:
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
#tree.export_graphviz(model)

digraph Tree {
             ^
Expected "}" (at char 8730), (line:137, col:14)

In [ ]:
graph.write_png('diabetes.png')
Image(graph.create_png())